.public {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  header {
    background-color: #1976d2;
    color: white;
    padding: 10px;
  }
  
  main {
    margin-top: 20px;
  }
  
  footer {
    margin-top: 20px;
  }
  
  footer a {
    margin-right: 20px;
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  